@font-face {
    font-family: Playfair_Display;
    src: url(/EXTRA/Fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf);
}

body {
    background-image: url("/EXTRA/background.png");
    color: white;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Playfair_Display;
}

main {
    height: 100%;
}

.bar {
    background-color: #400101;
    color: #BFBFAA;
    width: 100vw;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    position: fixed;
    margin-top: 0px;
}

#searchTitle {
    margin-left: 5px;
    margin-right: auto;
    font-size: x-large;
    font-weight: bold;
}

#searchIcon {
    height: 30px;
    margin-right: 10px;
    position: absolute;
}

#searchText {
    height: 30px;
    border-radius: 15px;
    font-family: Playfair_Display;
    padding: 0;
    margin-right: 50px;
    border: none;
    background-color: #1e0000;
    color: #BFBFAA;
    position: fixed;
}

::placeholder {
   text-align: center; 
   font-size: medium;
   color: #BFBFAA;
}

.searchSpace {
    background-color: #1e0000;
    color: #BFBFAA;
    font-family: Playfair_Display;
    width: 200vw;
    height: 300px;
    margin-top: 0px;
    position: absolute;
    display: none;
}

#pillar1 {
    margin-top: 48px;
    margin-left: 0px;
    height: 649px;
    position: fixed;
}

#pillar2 {
    margin-top: 48px;
    margin-left: 400px;
    height: 649px;
    position: fixed;
}

#container1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.espet1 {
    height: 100vh;
}

.espet1 img {
    width: 400px;
    height: 100vh;
    margin-top: 20px;
    margin-left: 50px;
}

.espet1Texto {
    color: white;
    margin-top: 150px;
    margin-left: 150px;
}

.espet1Texto p {
    margin-top: 75px;
    font-size: large;
}

.espet1Texto p + p {
    margin-top: 8px;
    margin-bottom: 50px;
}

.modal-trigger {
    background-color: #BFBFAA;
    color:#400101;
    text-decoration: none;
    font-weight: bold;
    border-radius: 15px;
    padding: 15px;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.modal:target {
    opacity: 1;
    pointer-events: auto;
}

.modal-content {
    font-family: Playfair_Display;
    background-color: #BFBFAA;
    color:#400101;
    padding: 2rem;
    border-radius: 6px;
    width: 300px;
    height: 500px;
    max-width: 500px;
    max-height: 90vh;
    overflow-y: auto;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#day {
    font-family: Playfair_Display;
}

.modal-backdrop {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: default;
    z-index: -1; 
}

.modal-confirm {
    background-color: #1e0000;
    color:#BFBFAA;
    text-decoration: none;
    font-family: Playfair_Display;
    font-weight: bold;
    font-size: large;
    border-radius: 15px;
    padding: 14px;
    border: none;
    margin-top: 20px;
    margin-left: 200px;
}

.slider {
    width: 100vw;
    height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 15px;
    position: absolute;
}

#sliderImg {
    margin-right: 15px;
    width: 40px;
}

#container2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.espet2 {
    height: 100vh;
}

.espet2 img {
    width: 400px;
    height: 100vh;
    margin-top: 20px;
    margin-left: 50px;
}

.espet2Texto {
    color: white;
    margin-top: 150px;
    margin-left: 150px;
}

.espet2Texto p {
    margin-top: 75px;
    font-size: large;
}

.espet2Texto p + p {
    margin-top: 8px;
    margin-bottom: 50px;
}

#container3 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.espet3 {
    height: 100vh;
}

.espet3 img {
    width: 400px;
    height: 100vh;
    margin-top: 20px;
    margin-left: 50px;
}

.espet3Texto {
    color: white;
    margin-top: 150px;
    margin-left: 150px;
}

.espet3Texto p {
    margin-top: 75px;
    font-size: large;
}

.espet3Texto p + p {
    margin-top: 8px;
    margin-bottom: 50px;
}

#container4 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.espet4 {
    height: 100vh;
}

.espet4 img {
    width: 400px;
    height: 100vh;
    margin-top: 20px;
    margin-left: 50px;
}

.espet4Texto {
    color: white;
    margin-top: 150px;
    margin-left: 150px;
}

.espet4Texto p {
    margin-top: 75px;
    font-size: large;
}

.espet4Texto p + p {
    margin-top: 8px;
    margin-bottom: 50px;
}

#container5 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.espet5 {
    height: 100vh;
}

.espet5 img {
    width: 400px;
    height: 100vh;
    margin-top: 20px;
    margin-left: 50px;
}

.espet5Texto {
    color: white;
    margin-top: 150px;
    margin-left: 150px;
}

.espet5Texto p {
    margin-top: 75px;
    font-size: large;
}

.espet5Texto p + p {
    margin-top: 8px;
    margin-bottom: 50px;
}