@font-face {
    font-family: Playfair_Display;
    src: url(/EXTRA/Fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf);
}

body {
    background-color: #400101;
    font-family: Playfair_Display;
    color: #BFBFAA;
}

h1 {
    font-size: 150px;
    position: absolute;
    margin-left: 15px;
}

h2 {
    color:#400101;
    font-size:x-large;
    text-align: center;
}

.molduras {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

}

#moldura1 {

    width: 400px;
}

#moldura1:hover {
   animation-name: spinReverse;
   animation-duration: 2s;
}

#moldura2 {

    width: 500px;
    margin-right: 100px;
}

#moldura2:hover {
   animation-name: spin;
   animation-duration: 2s;
}

.hiperligacao {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-left: 40px;
    row-gap: 20px;
}

#museu {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    padding: 0%;
    margin: auto;
    border: none;
    background-color: #400101;
}

#museu img {
    width: 300px;
    justify-content: center;
    align-content: center;
}

.museuTexto {
    background-color: #BFBFAA;
    border-radius: 5px;
    width: 300px;
    height: 70px;
    align-self: flex-end;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    display: none;
    justify-self: center;
}

#museu:hover + .museuTexto {
    display: block;
}

.museuTexto:hover {
    display: block;
}

#expo {
    align-self: flex-end;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    padding: 0%;
    margin: auto;
    border: none;
    background-color: #400101;
} 

#expo img {
    width: 300px;
}

.expoTexto {
    background-color: #BFBFAA;
    border-radius: 5px;
    width: 300px;
    height: 70px;
    align-self: flex-end;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    display: none;
    justify-self: center;
}

#expo:hover + .expoTexto {
    display: block;
}

.expoTexto:hover {
    display: block;
}

#esp {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 4;
    padding: 0%;
    margin: auto;
    border: none;
    background-color: #400101;
}

#esp img {
    width: 300px;
}

.espTexto {
    background-color: #BFBFAA;
    border-radius: 5px;
    width: 300px;
    height: 70px;
    align-self: flex-end;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 4;
    display: none;
    justify-self: center;
}

#esp:hover + .espTexto {
    display: block;
}

.espTexto:hover {
    display: block;
}

#login {
    align-self: flex-end;
    display: flex;
    justify-content: center;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 4;
    grid-column-end: 5;
    padding: 0%;
    margin: auto;
    border: none;
    background-color: #400101;
}

#login img {
    width: 300px;
}

.loginTexto {
    background-color: #BFBFAA;
    border-radius: 5px;
    width: 300px;
    height: 70px;
    align-self: flex-end;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 4;
    grid-column-end: 5;
    display: none;
    justify-self: center;

}

#login:hover + .loginTexto {
    display: block;
}

.loginTexto:hover {
    display: block;
}

@keyframes spin {
    5% {
        transform: rotate(0deg);
    }
    10%, 90% {
        transform: rotate(10deg);
    }
    95% {
        transform: rotate(0deg);
    }
}

@keyframes spinReverse {
    5% {
        transform: rotate(0deg);
    }
    10%, 90% {
        transform: rotate(-10deg);
    }
    95% {
        transform: rotate(0deg);
    }
}