@font-face {
    font-family: Playfair_Display;
    src: url(/EXTRA/Fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf);
}

body {
    background-image: url("/EXTRA/background.png");
    color: white;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Playfair_Display;
}

main {
    height: 100%;
}

.bar {
    background-color: #400101;
    color: #BFBFAA;
    width: 100vw;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    position: fixed;
    margin-top: 0px;
}

#searchTitle {
    margin-left: 5px;
    margin-right: auto;
    font-size: x-large;
    font-weight: bold;
}

#searchIcon {
    height: 30px;
    margin-right: 10px;
    position: absolute;
}

#searchText {
    height: 30px;
    border-radius: 15px;
    font-family: Playfair_Display;
    background-color: #1e0000;
    padding: 0;
    margin-right: 50px;
    border: none;
    color: #BFBFAA;
    position: fixed;
}

::placeholder {
   text-align: center; 
   font-size: medium;
   color: #BFBFAA;
}

.searchSpace {
    background-color: #1e0000;
    color: #BFBFAA;
    font-family: Playfair_Display;
    width: 200vw;
    height: 300px;
    margin-top: 0px;
    position: absolute;
    display: none;
}

#pillar1 {
    margin-top: 48px;
    margin-left: 0px;
    height: 649px;
    position: fixed;
}

#pillar2 {
    margin-top: 48px;
    margin-left: 400px;
    height: 649px;
    position: fixed;
}

#container1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.museu1 {
    height: 100vh;
}

.museu1 img {
    width: 400px;
    height: 100vh;
    margin-top: 20px;
    margin-left: 50px;
}

.museu1Texto {
    color: white;
    margin-top: 150px;
    margin-left: 150px;
}

.museu1Texto p {
    margin-top: 75px;
    font-size: large;
}

.museu1Texto p + p {
    margin-top: 8px;
    margin-bottom: 50px;
}

.slider {
    width: 100vw;
    height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 15px;
    position: absolute;
}

#sliderImg {
    margin-right: 15px;
    width: 40px;
}

#container2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.museu2 {
    height: 100vh;
}

.museu2 img {
    width: 400px;
    height: 100vh;
    margin-top: 20px;
    margin-left: 50px;
}

.museu2Texto {
    margin-top: 150px;
    margin-left: 150px;
}

.museu2Texto p {
    margin-top: 75px;
    font-size: large;
}

.museu2Texto p + p {
    margin-top: 8px;
    margin-bottom: 50px;
}

#container3 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.museu3 {
    height: 100vh;
}

.museu3 img {
    width: 400px;
    height: 100vh;
    margin-top: 20px;
    margin-left: 50px;
}

.museu3Texto {
    margin-top: 150px;
    margin-left: 150px;
}

.museu3Texto p {
    margin-top: 75px;
    font-size: large;
}

.museu3Texto p + p {
    margin-top: 8px;
    margin-bottom: 50px;
}

#container4 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.museu4 {
    height: 100vh;
}

.museu4 img {
    width: 400px;
    height: 100vh;
    margin-top: 20px;
    margin-left: 50px;
}

.museu4Texto {
    margin-top: 150px;
    margin-left: 150px;
}

.museu4Texto p {
    margin-top: 75px;
    font-size: large;
}

.museu4Texto p + p {
    margin-top: 8px;
    margin-bottom: 50px;
}

#container5 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.museu5 {
    height: 100vh;
}

.museu5 img {
    width: 400px;
    height: 100vh;
    margin-top: 20px;
    margin-left: 50px;
}

.museu5Texto {
    margin-top: 150px;
    margin-left: 150px;
}

.museu5Texto p {
    margin-top: 75px;
    font-size: large;
}

.museu5Texto p + p {
    margin-top: 8px;
    margin-bottom: 50px;
}