@font-face {
    font-family: Playfair_Display;
    src: url(/EXTRA/Fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf);
}

body {
    background-color: #000000;
    margin: 0;
    padding: 0;
}

.upperBar {
    position: fixed;
    background-color: #400101;
    color: #BFBFAA;
    width: 200vw;
    height: 50px;
    z-index: 10;
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#searchIcon {
    height: 30px;
    margin-right: 10px;
}

.hiddenBar {
    position: relative;
    background-color: #400101;
    color: #BFBFAA;
    width: 200vw;
    height: 50px;
    z-index: 10;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
    position: absolute;
    position: fixed;
    display: none;
}

#searchText {
    height: 30px;
    border-radius: 15px;
    font-family: Playfair_Display;
    background-color: #1e0000;
    padding: 0;
    border: none;
    color: #BFBFAA;
    position: fixed;
}

::placeholder {
   text-align: center; 
   font-size: medium;
   color: #BFBFAA;
}

.searchSpace {
    background-color: #1e0000;
    color: #BFBFAA;
    font-family: Playfair_Display;
    width: 200vw;
    height: 300px;
    margin-top: 50px;
    position: absolute;
}

.grid-container{
    width: 200vw;
    height: 100vh;
    white-space: nowrap;    
    overflow-x: auto;
    overflow-y: hidden;
    z-index: -5px;
}

.museu1 {
    height: 100vh;
    float: none;
    display: inline-block;
    margin-left: 50px;
    margin-right: -4px;
    z-index: -5;
}

.museu1 img {
    width: 400px;
    height: 100vh;
    z-index: -5px;
    margin-right: 100px;
}

.museu1PopUp {
    height: 100px;
    width: 25rem;
    background-color: #BFBFAA;
    color: #400101;
    font-family: Playfair_Display;
    font-size: x-large;
    bottom: 0;
    z-index: -5px;
    text-align: center;
    position: absolute;
    /* display: none; */
}

.museu1PopUp p {
    text-align: center;
    justify-self: center;
}

/* .museu1:hover + .museu1PopUp {
    display: block;
}

.museu1PopUp:hover {
    display: block;
} */

.museu2 {
    height: 100vh;
    float: none;
    display: inline-block;
    margin-right: -4px;
}

.museu2 img {
    width: 400px;
    height: 100vh;
    z-index: -5px;
    margin-right: 100px;
}

.museu2PopUp {
    height: 100px;
    width: 25rem;
    background-color: #BFBFAA;
    color: #400101;
    font-family: Playfair_Display;
    font-size: x-large;
    bottom: 0;
    margin-inline: auto;
    text-align: center;
    position: absolute;
}

.museu2PopUp p {
    text-align: center;
    justify-self: center;
}

.museu3 {
    width: 600px;
    height: 100vh;
    float: none;
    display: inline-block;
    margin-right: -4px;
}

.museu3 img {
    width: 400px;
    height: 100vh;
    z-index: -5px;
    margin-right: 100px;
}

.museu3PopUp {
    height: 100px;
    width: 25rem;
    background-color: #BFBFAA;
    color: #400101;
    font-family: Playfair_Display;
    font-size: x-large;
    bottom: 0;
    text-align: center;
    position: absolute;
}

.museu3PopUp p {
    text-align: center;
    justify-self: center;
}

.museu4 {
    width: 600px;
    height: 100vh;
    float: none;
    display: inline-block;
    margin-right: -4px;
}

.museu4 img {
    width: 400px;
    height: 100vh;
    z-index: -5px;
    margin-right: 50px;
}

.museu4PopUp {
    height: 100px;
    width: 25rem;
    background-color: #BFBFAA;
    color: #400101;
    font-family: Playfair_Display;
    font-size: x-large;
    bottom: 0;
    text-align: center;
    position: absolute;
}

.museu4PopUp p {
    text-align: center;
    justify-self: center;
}

.museu5 {
    width: 600px;
    height: 100vh;
    float: none;
    display: inline-block;
    margin-right: -4px;
}

.museu5 img {
    width: 400px;
    height: 100vh;
    z-index: -5px;
    margin-right: 50px;
}

.museu5PopUp {
    height: 100px;
    width: 25rem;
    background-color: #BFBFAA;
    color: #400101;
    font-family: Playfair_Display;
    font-size: x-large;
    bottom: 0;
    text-align: center;
    position: absolute;
}

.museu5PopUp p {
    text-align: center;
    justify-self: center;
}

.decorativePillars{
   display: flex;
   flex-direction: column;
   width: 200vw;
   height: 100vh;
   white-space: nowrap;    
   overflow-x: auto;
   overflow-y: hidden;
   z-index: 5;
   position: fixed;
}

.pillarH1 {
   height: 100vh;
   float: none;
   display: inline-block;
   margin-right: -4px;
   z-index: 5;
}

.pillarF1 {
   height: 100vh;
   float: none;
   display: inline-block;
   margin-right: -4px;
   z-index: 5;
}

.pillarF2 {
   height: 100vh;
   float: none;
   display: inline-block;
   margin-right: -4px;
   z-index: 5;
}

.pillarH2 {
   height: 100vh;
   float: none;
   display: inline-block;
   margin-right: -4px;
   z-index: 5;
}
